@model List<BookingViewModel>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="col-lg-8 mx-auto m-5">
    <a href="/Admin/Booking/Add" class="btn btn-primary w-100 my-4">Add New reservation</a>

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>reservation List</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>phone</th>
                            <th>mail</th>
                            <th>personCount</th>
                            <th>date</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model)
                        {
                            <tr>
                                <td>@booking.name</td>
                                <td>@booking.phone</td>
                                <td>@booking.mail</td>
                                <td>@booking.personCount</td>
                                <td>@booking.date</td>
                                <td>
                                    <a href="/Admin/Booking/Delete/@booking.id" class="btn btn-danger mr-2">Delete</a>
                                    <a href="/Admin/Booking/Update/@booking.id" class="btn btn-primary">Update</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

